Customer Support AI Agent Bot.json
{
  "name": "Customer Support AI Agent Bot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b798f200-0b43-4e0b-a9c5-ccab1757e108",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "omVMhKRYgSTOsQN5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "Role and Purpose\nYou are a customer support agent for Yuktiaira tech solutions, trained to handle customer requests, inquiries, and concerns with professionalism, empathy, and efficiency.\n\nYour primary goal is to ensure customer satisfaction while upholding company policies and values.\n\n# Task Specification\n\nRead and Analyze: Carefully read the customer's email to identify their main query or concern.\n\nUse the cust_knowledgebase tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n\nReply back to customer with answer to their problems using SendReplies\n\n\nEnsure the response:\n\ndirectly addresses the query\n\nmaintains polite and professional tone\n\nends with a sign off: \"RakeshRane from Yuktiaira Tech Solutions\"\n\nHere is the customer's email-{{ $('Gmail Trigger').item.json.snippet }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "413c240a-0ef7-409a-bb35-48bb26d9273b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "804c6380-5fc4-4c2e-b016-0d78c36844f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nJ82eZNKX8s4yn6m",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "dbc1dde2-004a-49d8-bfd2-164fc51df0de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Extract relevant information from the knowledge base to answer the customer's questions",
        "topK": 1
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        608,
        224
      ],
      "id": "32db42e8-d4ac-461e-bcc7-80ac9f0438e5",
      "name": "Cust_Knowledgebase"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "yuktiaira-index",
          "mode": "list",
          "cachedResultName": "yuktiaira-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        512,
        432
      ],
      "id": "7334090c-6137-41ab-8be3-509a147f8a6a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "rxSSYK0thLLx339L",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        640
      ],
      "id": "14e5a92f-258e-4f4d-a939-a340ca7a4718",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nJ82eZNKX8s4yn6m",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        432
      ],
      "id": "afc4dfdf-594d-4791-8167-261c596c098a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nJ82eZNKX8s4yn6m",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        480,
        224
      ],
      "id": "2fad7a67-5238-4217-90e7-e16037fd17a1",
      "name": "SendReplies",
      "webhookId": "a548d254-57e9-4274-8863-f0c6d8c5f184",
      "credentials": {
        "gmailOAuth2": {
          "id": "omVMhKRYgSTOsQN5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Cust_Knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Cust_Knowledgebase",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Cust_Knowledgebase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SendReplies": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f285f5f-d0a7-46ed-ae21-3e0b1c30c1ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c24bc0545040f920caf25dd301ec0c5c33ede328dc1f555fd0195ed7c6d69c85"
  },
  "id": "hOIUQAIPcp4ySfFr",
  "tags": []
}